In [2]:
import pandas as pd
import numpy as np



data = pd.read_html('https://www.officialcharts.com/chart-news/the-best-selling-albums-of-all-time-on-the-official-uk-chart__15551/', header=0)

table = pd.DataFrame(data[0])


table.rename(columns={'POS': 'POZ', 'TITLE': 'TYTUŁ', 'ARTIST': 'ARTYSTA', 'YEAR': 'ROK', 'HIGH POSN': 'MAX POZ'}, inplace = True)


table.head()
print(table.head())
print("Zamiana nagłówków kolumn na polskie odpowiedniki")




artist = table['ARTYSTA'].nunique()
print(artist)

print("Liczba  pojedynczych artystów")




artist_top = table['ARTYSTA'].value_counts().head()


print(artist_top)
print("Najczęściej występujący artyści na liście")




table.rename(str.capitalize, axis='columns', inplace = True)
table.head()
print(table.head())
print("Tabela po zmianie nazw kolumn")




table.drop(columns = 'Max poz', inplace = True)

table.head()
print(table.head())
print("Tabela po usunięciu kolumny  Max poz")




table_y_max = table['Rok'].value_counts()
table_y_max.head()
print(table_y_max.head())
print("Rok,w którym wydano najwięcej albumów")




t_60_90 = table[(table['Rok'] >= 1960) & (table['Rok'] <= 1990)]['Rok']
t_60_90.count()
print(t_60_90.count())
print("Liczba albumów wydanych w latach 1960-1990")



table[table['Rok'] == max(table['Rok'])]
print(table[table['Rok'] == max(table['Rok'])])
print("Rok,w którym wydano najnowszy album")



artist_first_on_top = table.groupby('Artysta').agg({'Tytuł':'first','Rok':'min'})
artist_first_on_top.sort_values('Rok').head()
print(artist_first_on_top.sort_values('Rok').head())
print("Lista najwcześniej wydanych albumów każdego artysty")







list_to_excel = artist_first_on_top.sort_values('Rok')

list_to_excel.to_csv('ArtistFirstOnTop.csv', index=False)
print(list_to_excel.to_csv('ArtistFirstOnTop.csv', index= False))


print("Zapis do pliku csv zakończony")

   POZ                                 TYTUŁ  ARTYSTA   ROK  MAX POZ
0    1                         GREATEST HITS    QUEEN  1981        1
1    2                  GOLD - GREATEST HITS     ABBA  1992        1
2    3  SGT PEPPER'S LONELY HEARTS CLUB BAND  BEATLES  1967        1
3    4                                    21    ADELE  2011        1
4    5        WHAT'S THE STORY MORNING GLORY    OASIS  1995        1
Zamiana nagłówków kolumn na polskie odpowiedniki
47
Liczba  pojedynczych artystów
ARTYSTA
COLDPLAY         3
TAKE THAT        3
FLEETWOOD MAC    2
ABBA             2
DIDO             2
Name: count, dtype: int64
Najczęściej występujący artyści na liście
   Poz                                 Tytuł  Artysta   Rok  Max poz
0    1                         GREATEST HITS    QUEEN  1981        1
1    2                  GOLD - GREATEST HITS     ABBA  1992        1
2    3  SGT PEPPER'S LONELY HEARTS CLUB BAND  BEATLES  1967        1
3    4                                    21    ADELE  2011        1
4    5        WHAT'S THE STORY MORNING GLORY    OASIS  1995        1
Tabela po zmianie nazw kolumn
   Poz                                 Tytuł  Artysta   Rok
0    1                         GREATEST HITS    QUEEN  1981
1    2                  GOLD - GREATEST HITS     ABBA  1992
2    3  SGT PEPPER'S LONELY HEARTS CLUB BAND  BEATLES  1967
3    4                                    21    ADELE  2011
4    5        WHAT'S THE STORY MORNING GLORY    OASIS  1995
Tabela po usunięciu kolumny  Max poz
Rok
2000    4
1987    4
2006    3
1977    3
1998    3
Name: count, dtype: int64
Rok,w którym wydano najwięcej albumów
22
Liczba albumów wydanych w latach 1960-1990
    Poz Tytuł Artysta   Rok
26   27    25   ADELE  2015
Rok,w którym wydano najnowszy album
                                                        Tytuł   Rok
Artysta
ORIGINAL CAST RECORDING                    THE SOUND OF MUSIC  1965
BEATLES                  SGT PEPPER'S LONELY HEARTS CLUB BAND  1967
SIMON & GARFUNKEL                  BRIDGE OVER TROUBLED WATER  1970
PINK FLOYD                          THE DARK SIDE OF THE MOON  1973
MIKE OLDFIELD                                   TUBULAR BELLS  1973
Lista najwcześniej wydanych albumów każdego artysty
None
Zapis do pliku csv zakończony